.base {
    /* background: darkslategray; */
    background: black;
    margin-top: 5vh;
    margin-left: 5vh;
    border: 2px solid black;
    width: 30%;
}

.maindisplay {
    background: lightgrey;
    height: 25vh;
    padding: 5% !important;
    font-size: 4rem;
    text-align: right;
    font-family: Courier, monospace;
    overflow: auto;
}

.subdisplay {
    border-bottom: 1px solid black;
    height: 25%;
    font-size: 2rem;
    overflow: auto;
}

.keypad {
    height: calc(200% / 3);
}

.keys {
    margin: 0;
    height: 20%;
    width: 13%;
    background: whitesmoke;
    color: black;
    padding: 5%;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
}

.keys:hover {
    opacity: 1;
}

.ackey {
    color: white;
    background: red;
}

.equalkey {
    color: white;
    background-color: orangered; 
}

.numkey {
    /* color: skyblue; */
    color: white;
    background-color: rgb(51, 76, 123); 
}

.opkey {
    color: white;
    background-color: rgb(51, 76, 123); 
}
